<div class="relative min-h-[700px] bg-gray-100">
  <p>rxjs works!</p>
  <div class="w-[600px]">
    <ng-template #pl>
      <span class="inline-block w-12">sep</span>
    </ng-template>
    <nz-space nzWrap [nzSplit]="pl">
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="mb-4"
        (click)="handleExhaustAll()"
      >
        handleExhaustAll
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="mb-4"
        (click)="handleExhaustMap()"
      >
        handleExhaustMap
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="mb-4"
        (click)="handleConcatAll()"
      >
        handleConcatAll
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="mb-4"
        (click)="handleMerge()"
      >
        handleMerge
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="mb-4"
        (click)="handleMapTo()"
      >
        handleMapTo
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="mb-4"
        (click)="handleMergeAll()"
      >
        handleMergeAll
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="mb-4"
        (click)="handleForkJoin()"
      >
        handleForkJoin
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="mb-4"
        (click)="handleConcatMap()"
      >
        handleConcatMap
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="mb-4"
        (click)="handlePartition()"
      >
        handlePartition
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="mb-4"
        (click)="handleZip()"
      >
        handleZip
      </button>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="mb-4"
        (click)="handleWith()"
      >
        handleWith
      </button>
    </nz-space>
  </div>
  <drag-ball id="1" />
  <drag-ball id="2" />
  <drag-ball id="3" />
</div>
