<div>Todo List</div>
<div>
  <input type="text" [(ngModel)]="text" placeholder="please input your task" />
  <button (click)="onAdd(text)">Add</button>
</div>
<ul>
  <li *ngFor="let task of list">
    <span>{{ task.content }}</span>
    <input type="checkbox" [(ngModel)]="task.state" (change)="onChange(task)" />
    <button type="button" (click)="onRemove(task)">remove</button>
  </li>
</ul>
<div class="py-8 text-red-500 text-3xl">=============</div>
<div>
  <h2>Todo List</h2>
  <div class="flex w-[300px]">
    <input nz-input [(ngModel)]="text" placeholder="please input your task" />
    <button nz-button nzType="primary" (click)="onAdd(text)">Add</button>
  </div>
  <div>
    <ul>
      <todo-item
        *ngFor="let task of list"
        class="flex w-[300px] items-center py-2"
        [task]="task"
        (change)="onChange(task)"
        (remove)="onRemove(task)"
      >
        <span>slot1</span>
        <span>slot2</span>
      </todo-item>
    </ul>
  </div>
</div>
